---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HoverEffects from '../components/effects/HoverEffects';
import SpeechBubble from '../components/effects/SpeechBubble';
import LogoCarousel from '../components/sections/LogoCarousel.astro';
import Separator from '../components/common/Separator.astro';
import BentoBox from '../components/sections/BentoBox.astro';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<HoverEffects client:load slot="effects" />
<main class="min-h-[60vh] md:h-[70vh] flex items-start md:items-center relative px-4 sm:px-6 lg:px-8 py-10 md:py-16">
  <div class="w-full max-w-[1440px] mx-auto">
	<div class="w-full flex flex-col md:flex-row items-start md:items-center gap-4 sm:gap-5">
			<div class="w-full md:w-1/2">
				<p class="text-lightGray text-lg sm:text-xl uppercase tracking-widest mb-4">HEY THERE!</p>
				<h1 class="text-primary text-5xl sm:text-6xl font-bold uppercase mb-2 leading-snug md:text-7xl">I AM BRIAN</h1>
				<p class="text-softGray text-2xl sm:text-3xl uppercase tracking-wider mb-8 mt-0">Your Techy Freelancer</p>
				<button class="bg-blue-pink-gradient text-white px-6 py-3 rounded-md uppercase font-medium tracking-wider">
					SEE MY WORK
				</button>
			</div>
			<div class="w-full md:w-1/2 mt-2 mb-4 md:mt-5">
				<SpeechBubble client:load />
			</div>
	</div>
  </div>
</main>
	   <LogoCarousel />
   <BentoBox heading="Capabilities" />
 </BaseLayout>
