---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HoverEffects from '../components/effects/HoverEffects';
import LogoCarousel from '../components/sections/LogoCarousel.astro';
import Separator from '../components/common/Separator.astro';
import BentoBox from '../components/sections/BentoBox.astro';
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<HoverEffects client:load slot="effects" />
<main class="min-h-[60vh] md:h-[70vh] flex items-start md:items-center px-4 pt-8 sm:px-6 md:px-8 relative">
  <div class="w-full max-w-[1440px] mx-auto">
	<div class="w-full flex flex-col md:flex-row items-start md:items-center gap-4 sm:gap-5 pt-4 sm:pt-6 md:pt-0">
			<div class="w-full md:w-1/2 pl-0 sm:pl-1 md:pl-0">
				<p class="text-lightGray text-lg sm:text-xl uppercase tracking-widest mb-4">HEY THERE!</p>
				<h1 class="text-primary text-5xl sm:text-6xl font-bold uppercase mb-2 leading-snug md:text-7xl">I AM BRIAN</h1>
				<p class="text-softGray text-2xl sm:text-3xl uppercase tracking-wider mb-8 mt-0">Your Techy Freelancer</p>
				<button class="bg-blue-pink-gradient text-white px-6 py-3 rounded-md uppercase font-medium tracking-wider">
					SEE MY WORK
				</button>
			</div>
			<div class="w-full md:w-1/2 mt-2 mb-4 md:mt-5">
				<img 
					src="/images/homepage/man-with-pc-stickman.svg" 
					alt="Brian hehe" 
					draggable="false"
					ondragstart="return false"
					onmousedown="return false"
					style="-webkit-user-drag: none; user-drag: none;"
					class="w-full max-w-md sm:max-w-lg lg:max-w-xl xl:max-w-2xl h-auto rounded-lg shadow-none select-none pointer-events-none dark:invert dark:brightness-80 dark:opacity-90
"
				/>
			</div>
	</div>
  </div>
</main>
	   <LogoCarousel />
   <Separator />
   <BentoBox heading="Capabilities" />
 </BaseLayout>
