---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
		color: inherit;
	}
	a.active {
		font-weight: bolder;
		text-decoration: underline;
	}
	:global(.dark) a {
		color: rgb(243, 244, 246); /* text-gray-100 equivalent */
	}
</style>
